<template>
	<div class="admins-edit">
		<mu-paper id="my-paper">
			<div>
				<mu-text-field type="text" label="login:" v-model="target" helpText="login, a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('target')" @mouseleave="handleHoverExit('target')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.target" :show="showTooltips.target" :trigger="triggers.target" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Retrieve" @click="retrieve"></mu-raised-button>
			</div>
			<mu-divider></mu-divider>
			<div>
				<mu-text-field :disabled="true" type="text" label="login:" v-model="admin.login" helpText="login, a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('login')" @mouseleave="handleHoverExit('login')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.login" :show="showTooltips.login" :trigger="triggers.login" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="text" label="password:" v-model="admin.password" helpText="password, a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('password')" @mouseleave="handleHoverExit('password')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.password" :show="showTooltips.password" :trigger="triggers.password" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="email" label="email:" v-model="admin.email" helpText="optional"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('email')" @mouseleave="handleHoverExit('email')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.email" :show="showTooltips.email" :trigger="triggers.email" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Edit" @click="send"></mu-raised-button>
			</div>
		</mu-paper>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {contentType} from '@/http-conf'
import {mergePatch} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateHash} from '@/http-conf'
export default {
	name: 'admins-edit',
	data () {
		return {
			admin: {
				login: '',
				password: '',
				email: '',
			},
			target: '',
			triggers: {
				'login': null,
				'password': null,
				'email': null,
				'target': null,
			},
			showTooltips: {
				'login': false,
				'password': false,
				'email': false,
				'target': false,
			},
			tooltips: {
				'login': 'this field is not editable',
				'password': 'some additional information here',
				'email': 'some additional information here',
				'target': 'some additional information here',
			},
		}
	},
	computed: {
		patchConfig: function () {
			const headers = {}
			headers[contentType] = mergePatch
			return {
				headers
			}
		},
		normalConfig: function () {
			const headers = {}
			return {
				headers
			}
		},
		resource: function () {
			return this.suffix + this.target
		},
	},
	methods: {
		handleHover: function (index) {
			this.showTooltips[index] = true
		},
		handleHoverExit: function (index) {
			this.showTooltips[index] = false
		},
		retrieve: function () {
			//calculate auth if needed
			//get plan
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.get(this.resource, this.normalConfig)
			.then(
				response => {
					console.log('get response', response)
					this.admin = response.data
					this.$emit('retrieved')
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
				}
			)

		},
		send: function () {
			let when = setWhen(this.patchConfig)
			this.patchConfig.headers['Authorization'] = calculateHash(this.admin, when)
			HTTP.patch(this.resource, this.admin, this.patchConfig)
			.then(
				response => {
					console.log('patch response', response)
					this.$emit('edited')

				}
			)
		},
	},
	props: {
		suffix: {
			type: String,
			default: '',
		}
	},
	beforeRouteEnter (to, from, next) {
		next (vm => {
			vm.$emit('tabChange', to.path)
		})
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

#my-paper {
	text-align: center;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
}

#my-paper div {
	margin-left: 1%;
}

div#button-container {
	padding-top: 1%;
	padding-bottom: 1%;
}
</style>

<!-- NB this style is not scoped, otherwise the style doesn't work since the mu-text-field is a different component -->
<style>
.mu-text-field-help {
	font-style: italic;
}

span#tooltip-span {
	cursor: help;
	position: relative;
}
</style>