<template>
	<div class="codes-edit">
		<mu-paper id="my-paper">
			<div>
				<mu-text-field type="text" label="code:" v-model="target" helpText="a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('target')" @mouseleave="handleHoverExit('target')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.target" :show="showTooltips.target" :trigger="triggers.target" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Retrieve" @click="retrieve"></mu-raised-button>
			</div>
			<mu-divider></mu-divider>
			<div>
				<mu-text-field :disabled="true" type="text" label="plan name:" v-model="discount.planName" helpText="a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('planName')" @mouseleave="handleHoverExit('planName')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.planName" :show="showTooltips.planName" :trigger="triggers.planName" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field :disabled="true" type="text" label="discount name:" v-model="discount.discountName" helpText="a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('discountName')" @mouseleave="handleHoverExit('discountName')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.discountName" :show="showTooltips.discountName" :trigger="triggers.discountName" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field :disabled="true" type="text" label="percentage:" v-model="discount.percentage" helpText="decimal"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('percentage')" @mouseleave="handleHoverExit('percentage')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.percentage" :show="showTooltips.percentage" :trigger="triggers.percentage" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Recall" @click="send"></mu-raised-button>
			</div>
		</mu-paper>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {contentType} from '@/http-conf'
import {mergePatch} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateHash} from '@/http-conf'
export default {
	name: 'codes-edit',
	data () {
		return {
			discount: {
				planName: '',
				discountName: '',
				percentage: '',
			},
			target: '',
			triggers: {
				'planName': null,
				'discountName': null,
				'percentage': null,
				'target': null,
			},
			showTooltips: {
				'planName': false,
				'discountName': false,
				'percentage': false,
				'target': false,
			},
			tooltips: {
				'planName': 'this field is not editable',
				'discountName': 'this field is not editable',
				'percentage': 'this field is not editable',
				'target': 'the actual code goes here',
			},
		}
	},
	computed: {
		resource: function () {
			return this.suffix + this.target
		},
		normalConfig: function () {
			const params = {}
			const headers = {}
			params.count = this.count
			return {
				params,
				headers
			}
		},
	},
	methods: {
		handleHover: function (index) {
			this.showTooltips[index] = true
		},
		handleHoverExit: function (index) {
			this.showTooltips[index] = false
		},
		retrieve: function () {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.get(this.resource, this.normalConfig)
			.then(
				response => {
					console.log('get response', response)
					this.discount = response.data
					this.$emit('retrieved')
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
				}
			)
		},
		send: function () {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.delete(this.resource, this.normalConfig)
			.then(
				response => {
					console.log('patch response', response)
					//emptying the textboxes
					this.discount.planName = ''
					this.discount.discountName = ''
					this.discount.percentage = ''
					this.$emit('recalled')
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
				}
			)
		},
	},
	props: {
		auth: {
			type: String,
			default: '',
		},
		suffix: {
			type: String,
			default: '',
		}
	},
	beforeRouteEnter (to, from, next) {
		next (vm => {
			vm.$emit('tabChange', to.path)
		})
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

#my-paper {
	text-align: center;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
}

#my-paper div {
	margin-left: 1%;
}

div#button-container {
	padding-top: 1%;
	padding-bottom: 1%;
}
</style>

<!-- NB this style is not scoped, otherwise the style doesn't work since the mu-text-field is a different component -->
<style>
.mu-text-field-help {
	font-style: italic;
}

span#tooltip-span {
	cursor: help;
	position: relative;
}
</style>