<template>
	<div class="graph-donut">
		<span class="echarts">
			<IEcharts :option="graph" :resizable="true" :loading="loading" @ready="onReady"></IEcharts>
		</span>
		<button @click="doLoading">test loading</button>
	</div>
</template>

<script>
import IEcharts from 'vue-echarts-v3/src/lite.vue'
import 'echarts/lib/chart/pie'
import 'echarts/lib/component/title'
export default {
	name: 'graph-donut',
	data () {
		return {
			loading: true,
		}
	},
	methods: {
		onReady: function () {
			this.loading = false
		},
		doLoading: function () {
			this.loading = !this.loading
		},
	},
	components: {
		IEcharts
	},
	computed: {
		//returns an object with an array of data for every type, the array elements are the numbers for each day
		preparedData: function () {
			console.log('portions:', this.portions)
			let types = new Set()
			let typesOverTime = {}
			this.portions.forEach(function (day) {
				Object.keys(o).map(k => {
					if (!types.has(k)) {
						continue
					}
					types.add(k)
				})(day)
			})
			//initialize all values to zero
			types.forEach(function (type) {
				typesOverTime[type] = []
				typesOverTime[type].length = this.portions.length
				typesOverTime[type].fill(0)
			})
			//insert the actual values, where values are missing, zeros will remain
			this.portions.forEach(function (day, index) {
				Object.entries(o).map(k_v => {
					let k = k_v
					let v = k_v
					typesOverTime[k][index] = v
				})(day)
			})
			return typesOverTime
		},
		graph: function () {
			
			return {
				title: {
					//default value here, since the prop binding only affects further changes
					text: this.title,
					x: 'center',
					padding: 30,
				},
				// legend: {
				// 	orient: 'vertical',
				// 	x: 'left',
				// 	y: 'top',
				// 	data: function (o) {
				// 		var names = []
				// 		Object.keys(o).map(k => {
				// 			names.push(k)
				// 		})
				// 		console.log('error?')
				// 		return names
				// 	}(this.portions),
				},
				series: function (preparedData) {
					let seriesArray = []
					Object.entries(preparedData).map(k_v => {
						let k = k_v[0]
						let v = k_v[1]
						let part = {}
						part.name = k
						part.type = 'line'
						part.areaStyle = {normal: {}}
						part.stack = 'theOnlyStack'
						part.data = v
						seriesArray.push(part)
					})
					return seriesArray
				}(this.preparedData)
				// series: [{
				// 	name: this.title,
				// 	type: 'pie',
				// 	radius: ['0%', '80%'],
				// 	center: ['50%', '50%'],
				// 	label: {
				// 		normal: {
				// 			show: true,
				// 			position: 'inside',
				// 			textStyle: {
				// 				fontSize: '18',
				// 			}
				// 		},
				// 		emphasis: {
				// 			show: true,
				// 			textStyle: {
				// 				fontSize: '30',
				// 				fontWeigth: 'bold',
				// 			}
				// 		}
				// 	},
				// 	data: function (o) {
				// 		var arr = []
				// 		Object.entries(o).map(k_v => {
				// 			var k = k_v[0]
				// 			var v = k_v[1]
				// 			arr.push({'name': k, 'value': v})
				// 		})
				// 		console.log('data array:', arr)
				// 		console.log('error?')
				// 		return arr
				// 	}(this.portions)
				// }]
			}
		},
	},
	watch: {
		'title': function () {
			console.log('title is:', this.title)
		}
	},
	props: {
		title: {
			type: String,
		},
		portions: {
			type: Object,
		},
	}
}
</script>

<style scoped>
span.echarts {
	display: block;
	height: 700px;
	width: 100%;
}
</style>