<template>
	<div class="graph-display">
		<template v-if="show">
			<template v-if="graphType === 'bar'">
				<!-- todo custom bar element here -->
				<graph-bar :title="title" :counts="counts" :offset="offset" ></graph-bar>
			</template>
			<template v-else-if="graphType === 'stack'">
				<!-- todo custom donut element here -->
				<graph-area-stack :title="title" :portions="portions" :offset="offset" ></graph-area-stack>
			</template>
			<template v-else="graphType === 'manyDonuts'">
				<!-- todo custom donuts v-for element here -->
				<graph-many-donuts :title="title" :conversions="conversions"></graph-many-donuts>
			</template>
		</template>
	</div>
</template>

<script>
import GraphBar from '@/components/GraphBar'
import GraphAreaStack from '@/components/GraphAreaStack'
import GraphManyDonuts from '@/components/GraphManyDonuts'
export default {
	name: 'graph-display',
	data () {
		return {
		}
	},
	methods: {
	},
	components: {
		GraphBar, GraphAreaStack, GraphManyDonuts
	},
	watch: {
	},
	computed: {
		counts: function () {
			if (this.graphType === 'bar') {
				return this.barData
			} else {
				return null
			}
		},
		portions: function () {
			if (this.graphType === 'stack') {
				return this.stackData
			} else {
				return null
			}
		},
		conversions: function () {
			if (this.graphType === 'manyDonuts') {
				// console.log("graphType:", 'manyDonuts')
				// console.log(this.data)
				return this.donutData
			} else {
				return null
			}
		}
	},
	props: {
		show: {
			type: Boolean,
			default: false,
		},
		title: {
			type: String,
			default: ''
		},
		offset: {
			type: Number,
		},
		barData: {
			type: Array,
		},
		donutData: {
			type: Object,
		},
		stackData: {
			type: Array,
		},
		graphType: {
			type: String,
			default: ''
		},
	}
}
</script>