<template>
	<div class="graph-controls">
		<mu-text-field type="number" label="days:" v-model="days" helpText="scope to analyze, integer"></mu-text-field>
		<mu-text-field type="number" label="offset:" v-model="offset" helpText="how many days ago, integer"></mu-text-field>
		<template v-if="showActivity">
			<mu-text-field type="number" label="activity" v-model="activity" helpText="uses per week to be active, integer"></mu-text-field>
		</template>
		<template v-if="showInterval">
			<mu-text-field type="number" label="interval" v-model="interval" helpText="max days for conversion, integer"></mu-text-field>
		</template>
		<template v-if="showTag">
			<mu-text-field type="text" label="tag" v-model="tag" helpText="tag of interest, a-zA-Z0-9 only"></mu-text-field>
		</template>
		<template v-if="showThreshold">
			<mu-text-field type="number" label="threshold" v-model="threshold" placeholder="5" helpText="amount spent to be paying, decimal"></mu-text-field>
		</template>
		<template v-if="showNames">
			<mu-switch id="namesSwitch" label="Levels" labelLeft v-model="names"></mu-switch>
			<label for="namesSwitch">Names</label>
		</template>
		<mu-raised-button label="Calculate!" primary fullWidth @click="statButton"></mu-raised-button>
		<!-- <mu-raised-button label="Do the test!" primary fullWidth @click="statButtonTest"></mu-raised-button> -->
	</div>
</template>

<script>
export default {
	name: 'graph-controls',
	data () {
		return {
			days: 30,
			offset: 0,
			activity: 5,
			interval: 30,
			names: false,
			tag: '',
			threshold: 0,
		}
	},
	methods: {
		statButton () {
			// console.log(this.days, this.offset, this.activity, this.interval, this.names, this.tag, this.threshold)
			var o = {
				days: this.days,
				offset: this.offset
			}
			if (this.showActivity) {
				o.activity = this.activity
			}
			if (this.showInterval) {
				o.interval = this.interval
			}
			if (this.showThreshold) {
				o.threshold = this.threshold
			}
			if (this.showTag) {
				o.tag = this.tag
			}
			if (this.showNames) {
				o.names = this.names
			}
			this.$emit('statButton', o)
		},
		// statButtonTest () {
		// 	this.$emit('statButtonTest')
		// }
	},
	watch: {
	},
	props: {
		showActivity: {
			type: Boolean,
			default: false
		},
		showInterval: {
			type: Boolean,
			default: false
		},
		showTag: {
			type: Boolean,
			default: false
		},
		showThreshold: {
			type: Boolean,
			default: false
		},
		showNames: {
			type: Boolean,
			default: false
		}
	}
}
</script>
