<template>
	<div class="graph-many-donuts">
		<span v-for="(graph, index) in graphArray" :key="index" class="echarts">
			<IEcharts :option="graph" :resizable="true" :loading="loading" @ready="onReady"></IEcharts>
		</span>
	</div>
</template>

<script>
import IEcharts from 'vue-echarts-v3/src/lite.vue'
import 'echarts/lib/chart/pie'
import 'echarts/lib/component/title'
import 'echarts/lib/component/legend'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/grid'

export default {
	name: 'graph-many-donuts',
	data () {
		return {
			loading: true,
		}
	},
	methods: {
		onReady: function () {
			this.loading = false
		},
		doLoading: function () {
			this.loading = !this.loading
		},
	},
	components: {
		IEcharts
	},
	computed: {
		graphArray: function () {
			// console.log("graphArray running")
			var configs = []			
			Object.entries(this.conversions).map(key_value => {
				var key = key_value[0]
				var value = key_value[1]
				// console.log('key:', key, 'value:', value)
				var o = {
					title: {
						text: 'Conversions from ' + key,
						x: 'center',
						padding: 30,
					},
					legend: {
						orient: 'vertical',
						left: '5%',
						top: '7%',
						data: function (o) {
							var names = []
							Object.keys(o).map(k => {
								names.push(k)
							})
							// console.log('conversion legend:', names)
							return names
						}(value),
					},
					//NB: even without config, this enables tooltips to show
					tooltip: {
					},
					series: [{
						name: key,
						type: 'pie',
						radius: ['0%', '80%'],
						center: ['50%', '50%'],
						label: {
							normal: {
								show: true,
								position: 'inside',
								textStyle: {
									fontSize: '18',
									color: "#0F0F0F",
								}
							},
							emphasis: {
								show: true,
								textStyle: {
									fontSize: '30',
									fontWeigth: 'bold',
								}
							}
						},
						itemStyle: {
							emphasis: {
								color: '#000000',
							},
						},
						data: function (o) {
							var arr = []
							Object.entries(o).map(k_v => {
								var k = k_v[0]
								var v = k_v[1]
								arr.push({'name': k, 'value': v})
							})
							// console.log('data array:', arr)
							return arr
						}(value)
					}]
				}
				configs.push(o)
			})
			// console.log(configs)
			return configs
		},
	},
	watch: {
	},
	props: {
		title: {
			type: String,
		},
		conversions: {
			type: Object
		},
	}
}
</script>

<style scoped>
span.echarts {
	height: 700px;
	width: 33%;
	float: left;
}
</style>