<template>
	<div class="graph-bar">
		<span class="echarts">
			<IEcharts :option="graph" :resizable="true" :loading="loading" @ready="onReady"></IEcharts>
		</span>
	</div>
</template>

<script>
import IEcharts from 'vue-echarts-v3/src/lite.vue'
import 'echarts/lib/chart/bar'
import 'echarts/lib/component/title'
import 'echarts/lib/component/legend'
import 'echarts/lib/component/tooltip'
import 'echarts/lib/component/grid'

export default {
	name: 'graph-bar',
	data () {
		return {
			loading: true,
		}
	},
	methods: {
		onReady: function () {
			this.loading = !this.loading
		},
		doLoading: function () {
			this.loading = !this.loading
		},
		getLabels: function () {
			let now = new Date()
			now.setDate(now.getDate() - this.offset)
			let labels = []
			for (let i = this.counts.length; i > 0; i--) {
				let before = new Date()
				before.setDate(now.getDate() - i)
				labels.push(before.toLocaleString())
			}
			return labels

		},
	},
	components: {
		IEcharts
	},
	computed: {
		graph: function () {
			return {
				title: {
					text: this.title,
					x: 'center',
					padding: 20,
				},
				tooltip: {
					trigger: 'axis',
					axisPointer: {
						type: 'line',
						lineStyle: {
							width: 2,
							type: 'dashed',
						},
					},
				},
				xAxis: {
					type: 'category',
					data: this.getLabels(),
				},
				yAxis: {
					type: 'value',
				},
				series: [{
					name: 'daily value',
					type: 'bar',
					data: this.counts
				}]
			}
		},
	},
	watch: {
	},
	props: {
		title: {
			type: String,
			default: ''
		},
		offset: {
			type: Number,
		},
		counts: {
			type: Array,
		},
	}
}
</script>

<style scoped>
span.echarts {
	height: 700px;
	width: 100%;
	display: block;
}
</style>