<template>
	<div class='Graphs'>
		<h1 id="myh1">{{ msg }}</h1>
		<mu-dropDown-menu :autoWidth="true" :value="value" @change="handleChange">
			<mu-menu-item value="/users/new" title="New Users"></mu-menu-item>
			<mu-menu-item value="/users/active" title="Active Users"></mu-menu-item>
			<mu-menu-item value="/users/attrition" title="User Attrition"></mu-menu-item>
			<mu-menu-item value="/users/paying" title="Paying Users"></mu-menu-item>
			<mu-menu-item value="/subs/conv" title="Conversion Rate"></mu-menu-item>
			<mu-menu-item value="/subs/new" title="New Subscriptions"></mu-menu-item>
			<mu-menu-item value="/subs/comp" title="Subscription Types"></mu-menu-item>
			<mu-menu-item value="/plans/comp" title="Plan Types"></mu-menu-item>
			<mu-menu-item value="/rev/user" title="Revenue Per User"></mu-menu-item>
			<mu-menu-item value="/rev/paying" title="Revenue Per Paying User"></mu-menu-item>
			<mu-menu-item value="/tags/" title="Tag Prevalence"></mu-menu-item>
		</mu-dropDown-menu>
		<graph-controls @statButton="requestStatData" :showActivity="controlsConfig.activity" :showInterval="controlsConfig.interval" :showThreshold="controlsConfig.threshold" :showTag="controlsConfig.tag" :showNames="controlsConfig.names"></graph-controls>
		<graph-display :title="title" :barData="barData" :donutData="donutData" :stackData="stackData" :show="shouldShow" :graphType="graphType" :offset="offset" ></graph-display>
		<mu-snackbar v-if="snack" message="Data received!"></mu-snackbar>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {STATS} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateHash} from '@/http-conf'
import GraphControls from '@/components/GraphControls'
import GraphDisplay from '@/components/GraphDisplay'
export default {
	name: 'graphs',
	data () {
		return {
			snack: false,
			snackTimer: 0,
			msg: 'Welcome to statistics!',
			title: 'New Users',
			value: '/users/new',
			controlsConfig: {
				activity: false,
				interval: false,
				threshold: false,
				tag: false,
				names: false
			},
			graphType: 'bar',
			barData: [],
			stackData: [],
			donutData: {},
			offset: 0,
			shouldShow: false,
		}
	},
	methods: {
		handleSnack: function () {
			if (this.snackTimer) {
				clearTimeout(this.snackTime)
			}
			this.snackTimer = setTimeout(() => {
				this.snack = false
			}, 2000)
			this.snack = true
		},
		handleChange (value) {
			this.shouldShow = false
			this.title = ''
			this.barData = []
			this.donutData = {}
			this.value = value
			this.controlsConfig.activity = false
			this.controlsConfig.interval = false
			this.controlsConfig.threshold = false
			this.controlsConfig.tag = false
			this.controlsConfig.names = false
			switch (value) {
				case '/users/new':
					this.graphType = 'bar'
					this.title = 'New Users'
					break
				case '/users/active':
					this.controlsConfig.activity = true
					this.graphType = 'bar'
					this.title = 'Active Users'
					break
				case '/users/attrition':
					this.controlsConfig.activity = true
					this.graphType = 'bar'
					this.title = 'User Attrition'
					break
				case '/users/paying':
					this.controlsConfig.threshold = true
					this.graphType = 'bar'
					this.title = 'Paying Users'
					break
				case '/subs/new':
					this.graphType = 'bar'
					this.title = 'New Subscriptions'
					break
				case '/subs/comp':
					this.graphType = 'stack'
					this.title = 'Subscription Types'
					break
				case '/plans/comp':
					this.graphType = 'stack'
					this.title = 'Plan Types'
					break
				case '/subs/conv':
					this.controlsConfig.interval = true
					this.controlsConfig.names = true
					this.graphType = 'manyDonuts'
					this.title = 'Conversion Rate'
					break
				case '/rev/user':
					this.graphType = 'bar'
					this.title = 'Revenue Per User'
					break
				case '/rev/paying':
					this.controlsConfig.threshold = true
					this.graphType = 'bar'
					this.title = 'Revenue Per Paying'
					break
				case '/tags/':
					this.controlsConfig.tag = true
					this.graphType = 'bar'
					this.title = 'Tag Prevalence'
					break
			}
			// console.log('dropdown clicked', value)
		},
		requestStatData (params) {
			const vm = this
			let url = this.resource
			if (params.tag != null) {
				url += params.tag
				delete params.tag
			}
			// console.log('params:', params)
			this.offset = params.offset
			this.normalConfig.params = params
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			STATS.get(url, this.normalConfig)
			.then(function (response) {
				// console.log("response data:", response.data)
				if (vm.graphType === 'bar') {
					vm.barData = response.data
					vm.donutData = {}
					vm.stackData = []
				} else if (vm.graphType === 'stack') {
					vm.stackData = response.data
					vm.donutData = {}
					vm.barData = []
				} else {
					vm.donutData = response.data
					vm.barData = []
					vm.stackData = []
				}
				vm.handleSnack()
				vm.shouldShow  = true
			})
		},
		// requestTestData () {
		// 	var suffix
		// 	switch (this.graphType) {
		// 		case 'bar':
		// 			suffix = '/counts'
		// 			break
		// 		case 'stack':
		// 			suffix = '/portions'
		// 			break
		// 		case 'manyDonuts':
		// 			suffix = '/convs'
		// 			break
		// 	}
		// 	// console.log(suffix)
		// 	const vm = this
		// 	let when = setWhen(this.normalConfig)
		// 	this.normalConfig.headers['Authorization'] = calculateHash('', when)
		// 	HTTP.get(this.resource, this.normalConfig)
		// 	.then(function (response) {
		// 		// console.log("response data:", response.data)
		// 		if (vm.graphType === 'bar') {
		// 			vm.barData = response.data
		// 			vm.donutData = {}
		// 		} else {
		// 			vm.donutData = response.data
		// 			vm.barData = []
		// 		}
		// 		vm.shouldShow  = true
		// 	})
		// },
	},
	computed: {
		normalConfig: function () {
			const headers = {}
			const params = {}
			return {
				headers,
				params,
			}
		},
		resource: function () {
			return this.value
		},
	},
	watch: {
	},
	components: {
		GraphControls, GraphDisplay,
	}
}
</script>

<style>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}
</style>
