<template>
	<div class="hello">
		<template v-if="!loggedIn">
			<login-page @loggedIn="handleLoggedIn"></login-page>	
		</template>
		<template v-else>
			<mu-flat-button @click="handleLogout">Logout</mu-flat-button>
			<h1>{{ msg }}</h1>
			<p>
				Use the drawer on the left to navigate.<br/>
				You can change the theme using the menu on the top right.<br/>
				You can configure the server (the 'Manage' menu), or you can view and analyse collected data ('Graphs').<br/>
				To configure this application use the 'Settings'.
			</p>
		</template>
	</div>
</template>

<script>
import {globalStore} from '@/globalStore'
import LoginPage from '@/components/LoginPage'
export default {
	components: {
		LoginPage,
	},
	name: 'hello',
	data () {
		return {
			msg: 'Welcome to Your Vue.js App',
		}
	},
	mounted () {
		//show the login page only if not logged in
		console.log('should show log in?:', globalStore)
		if (globalStore.auth) {
			console.log('yes')
			this.loggedIn = true
		} else {
			console.log('no')
		}
	},
	methods: {
		handleLogout: function () {
			this.loggedIn = false
		},
		reverseMyText: function () {
			// console.log(this.myText)
			this.myText = this.myText.split('').reverse().join('')
		},
		handleLoggedIn: function () {
			this.loggedIn = true
		},
		handleCreated: function () {
			//do something, snackbar and maybe a message "log in to your app using the admin account password, the admin login is 'admin'"
		}
	},
	watch: {
		'myText': function () {
			console.log(this.myText)
		},
		'myInput': function () {
			console.log(this.myInput)
		},
		'loggedIn': function () {
			// console.log('watcher', this.loggedIn)
		},
	},
	props: {
		loggedIn: {
			type: Boolean,
		},
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}
</style>