<template>
	<div class="nav-drawer">
		<mu-icon-button icon="menu" @click="toggleForce()"/>
		<mu-drawer :open="open" :docked="dockedDrawer" @close="toggle()">
			<mu-list>
				<template v-for="(item, index) in menu">
					<mu-list-item :key="item.value" :title="item.value" @click="toggleAndGo(item.value, item.path)" :toggleNested="item.nested ? true : false" >
						<mu-icon slot="left" :value="item.icon"></mu-icon>
						<mu-list-item v-for="nestedItem in item.nested" :key="nestedItem.value" :title="nestedItem.value" slot="nested" @click="toggleAndGo(nestedItem.value, nestedItem.path)" >
							<mu-icon slot="left" :value="nestedItem.icon" ></mu-icon>
						</mu-list-item>
					</mu-list-item>
					<mu-divider></mu-divider>
				</template>
				<template v-if="dockedDrawer">
					<mu-list-item title="Close" @click="toggleForce()" >
						<mu-icon slot="left" value="close"></mu-icon>
					</mu-list-item>
				</template>
			</mu-list>
		</mu-drawer>
	</div>
</template>

<script>
import {globalStore} from '@/globalStore'
export default {
	name: 'nav-drawer',
	data () {
		return {
			open: false,
			menu: {
				'Home': {
					value: 'Home',
					path: '/',
					icon: 'home',
				},
				'Graphs': {
					value: 'Graphs',
					path: '/graphs',
					icon: 'insert_chart',
				},
				'Manage': {
					value: 'Manage',
					path: '',
					icon: 'business_center',
					nested: {
						'Create Admin Accounts': {
							value: 'Create Admin Accounts',
							path: '/admins/create',
							icon: 'group_add'
						},
						'Edit Admin Accounts': {
							value: 'Edit Admin Accounts',
							path: '/admins/edit',
							icon: 'group'
						},
						'Create Plans': {
							value: 'Create Plans',
							path: '/plans/create',
							icon: 'subscriptions'
						},
						'Edit Plans': {
							value: 'Edit Plans',
							path: '/plans/edit',
							icon: 'subscriptions'
						},
						'Create Discounts': {
							value: 'Create Discounts',
							path: '/discounts/create',
							icon: 'trending_down'
						},
						'Edit Discounts': {
							value: 'Edit Discounts',
							path: '/discounts/edit',
							icon: 'trending_down'
						},
						'Generate Discount Codes': {
							value: 'Generate Discount Codes',
							path: '/codes/generate',
							icon: 'receipt'
						},
						'Recall Discount Codes': {
							value: 'Recall Discount Codes',
							path: '/codes/recall',
							icon: 'receipt'
						},
						'Create Tags': {
							value: 'Create Tags',
							path: '/tags/create',
							icon: 'label_outline'
						},
						'Remove Tags': {
							value: 'Remove Tags',
							path: '/tags/remove',
							icon: 'label_outline'
						},
					},
				},
				'Settings': {
					value: 'Settings',
					path: '/settings',
					icon: 'settings',
				},
			}
		}
	},
	computed: {
	},
	watch: {
		dockedDrawer: {
			handler: function () {
				console.log('watcher', this.dockedDrawer)
			},
			deep: true,
		},
	},
	methods: {
		toggleForce () {
			console.log('docked:', this.dockedDrawer)
			this.open = !this.open
		},
		toggle () {
			console.log('docked:', this.dockedDrawer)
			if (this.dockedDrawer) {
				return
			}
			this.open = !this.open
		},
		toggleAndGo (value, to) {
			if (value === 'Manage') {
				return
			}
			this.toggle()
			console.log('nav-drawer, going to: ', to)
			this.$router.push(to)
		}
	},
	props: {
		dockedDrawer: {
			type: Boolean,
		}
	}
}
</script>
