<template>
	<div class="plans-edit">
		<mu-paper id="my-paper">
<!-- 			<div>
				<mu-text-field type="text" label="name:" v-model="target" helpText="name of plan to edit, a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('target')" @mouseleave="handleHoverExit('target')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<mu-tooltip :label="tooltips.target" :show="showTooltips.target" :trigger="triggers.target" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Retrieve" @click="retrieve"></mu-raised-button>
			</div> -->
			<div id="button-container">
				<mu-raised-button label="Select a plan" @click="openDialog"></mu-raised-button>
			</div>
			<mu-dialog :open="dialog" >
				<mu-list>
					<template v-for="plan in plans" >
						<mu-list-item @click="selectPlan(plan)" >
						{{ plan.name }}
						</mu-list-item>
					</template>
				</mu-list>
			</mu-dialog>
			<mu-divider></mu-divider>
			<div>
				<mu-text-field :disabled="true" type="text" label="name:" helpTextClass="my-help-class" v-model="plan.name" helpText="string, a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('name')" @mouseleave="handleHoverExit('name')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.name" :show="showTooltips.name" :trigger="triggers.name" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="text" label="level:" helpTextClass="my-help-class" v-model="plan.level" helpText="string, a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('level')" @mouseleave="handleHoverExit('level')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.level" :show="showTooltips.level" :trigger="triggers.level" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="number" label="length:" helpTextClass="my-help-class" v-model="plan.length" helpText="integer"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('length')" @mouseleave="handleHoverExit('length')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.length" :show="showTooltips.length" :trigger="triggers.length" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="number" label="price:" helpTextClass="my-help-class" v-model="plan.price" helpText="decimal"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('price')" @mouseleave="handleHoverExit('price')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.price" :show="showTooltips.price" :trigger="triggers.price" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="text" label="tags:" helpTextClass="my-help-class" v-model="plan.tags" helpText="strings, a-zA-Z0-9, separated by spaces"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('tags')" @mouseleave="handleHoverExit('tags')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.tags" :show="showTooltips.tags" :trigger="triggers.tags" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Edit" @click="send"></mu-raised-button>
			</div>
		</mu-paper>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {contentType} from '@/http-conf'
import {mergePatch} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateHash} from '@/http-conf'
export default {
	name: 'plans-edit',
	data () {
		return {
			plan: {
				name: '',
				level: '',
				length: 0,
				price: 0,
				tags: '',
			},
			// target: '',
			plans: [],
			dialog: false,
			triggers: {
				'name': null,
				'level': null,
				'length': null,
				'price': null,
				'tags': null,
				'target': null,
			},
			showTooltips: {
				'name': false,
				'level': false,
				'length': false,
				'price': false,
				'tags': false,
				'target': false,
			},
			tooltips: {
				'name': 'this field is not editable',
				'level': 'some additional information here',
				'length': 'some additional information here',
				'price': 'some additional information here',
				'tags': 'you can use spaces or commas to separate individual tags',
				'target': 'some additional information here',
			},
		}
	},
	mounted () {
		// this.trigger = this.$refs.myref
	},
	computed: {
		patchConfig: function () {
			const headers = {}
			headers[contentType] = mergePatch
			return {
				headers
			}
		},
		normalConfig: function () {
			const headers = {}
			return {
				headers
			}
		},
		resource: function () {
			return this.suffix + this.plan.name
		},
		// resource: function () {
		// 	return this.suffix + this.target
		// },
		tagsArr: function () {
			if (this.plan.tags == '') {
				return []
			}
			//split on whitespace and commas
			let arr = (this.plan.tags + '').split(/[\s,]+/)
			if (arr == 'undefined') {
				return []
			}
			const trimmed = []
			arr.forEach(function(tag) {
				trimmed.push(tag.trim())
			})
			console.log(trimmed)
			return trimmed
		}
	},
	methods: {
		handleHover: function (index) {
			this.showTooltips[index] = true
		},
		handleHoverExit: function (index) {
			this.showTooltips[index] = false
		},
		openDialog: function () {
			this.dialog = true
			//get all plans so that they can be listed in the dialog
			this.getPlans()
		},
		getPlans: function () {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.get('plans', this.normalConfig)
			.then(
				response => {
					console.log('get response', response)
					this.plans = response.data
					this.$emit('retrieved')
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
					this.dialog = false
					//might want to zero out the fields,
					//but it also makes it annoying when the user mistypes something by 1 letter etc.
				}
			)
		},
		selectPlan: function (p) {
			this.plan = p
			this.dialog = false
		},
		// retrieve: function () {
		// 	let when = setWhen(this.normalConfig)
		// 	this.normalConfig.headers['Authorization'] = calculateHash('', when)
		// 	HTTP.get(this.resource, this.normalConfig)
		// 	.then(
		// 		response => {
		// 			console.log('get response', response)
		// 			this.plan = response.data
		// 			this.$emit('retrieved')
		// 		},
		// 		notOK => {
		// 			if (notOK.response.status == 404) {
		// 				this.$emit('notFound')	
		// 			} else {
		// 				this.$emit('errorCode', [notOK.response.data])
		// 			}
		// 		}
		// 	)
		// },
		send: function () {
			console.log(this.plan)
			this.plan.tags = this.tagsArr
			let when = setWhen(this.patchConfig)
			this.patchConfig.headers['Authorization'] = calculateHash(this.plan, when)
			HTTP.patch(this.resource, this.plan, this.patchConfig)
			.then(
				response => {
					console.log('patch response', response)
					this.$emit('edited')
				}
			)
		},
	},
	props: {
		suffix: {
			type: String,
			default: '',
		}
	},
	beforeRouteEnter (to, from, next) {
		next (vm => {
			vm.$emit('tabChange', to.path)
		})
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

#my-paper {
	text-align: center;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
}

#my-paper div {
	margin-left: 1%;
}

div#button-container {
	padding-top: 1%;
	padding-bottom: 1%;
}
</style>

<!-- NB this style is not scoped, otherwise the style doesn't work since the mu-text-field is a different component -->
<style>
.mu-text-field-help {
	font-style: italic;
}

span#tooltip-span {
	cursor: help;
	position: relative;
}
</style>