<template>
	<div class="settings">
		<mu-snackbar v-if="snack" :message="snackMessage"></mu-snackbar>
		<mu-paper id="my-paper">
			<div>
				<mu-text-field type="text" label="server address:" v-model="serverAddress" helpText=""></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('serverAddress')" @mouseleave="handleHoverExit('serverAddress')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.serverAddress" :show="showTooltips.serverAddress" :trigger="triggers.serverAddress" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field type="text" label="app name:" v-model="appName" helpText=""></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('appName')" @mouseleave="handleHoverExit('appName')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.appName" :show="showTooltips.appName" :trigger="triggers.appName" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Save" @click="save"></mu-raised-button>
			</div>
			<div>
				<mu-text-field type="text" label="change app secret:" v-model="secret" helpText=""></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('secret')" @mouseleave="handleHoverExit('secret')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.secret" :show="showTooltips.secret" :trigger="triggers.secret" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Save" @click="send"></mu-raised-button>
			</div>
			<mu-switch label="Dock drawer menu" v-model="dockedDrawer" @input="emitDrawer" ></mu-switch>
		</mu-paper>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {saveConf} from '@/http-conf'
import {httpConf} from '@/http-conf'
import {contentType} from '@/http-conf'
import {mergePatch} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateHash} from '@/http-conf'
import {globalStore} from '@/globalStore'
export default {
	name: 'settings',
	data () {
		return {
			triggers: {
				'serverAddress': null,
				'appName': null,
				'secret': null,
			},
			showTooltips: {
				'serverAddress': false,
				'appName': false,
				'secret': false,
			},
			tooltips: {
				'serverAddress': 'some additional information here',
				'appName': 'some more info',
				'secret': 'your input will be used as a seed for the new hash',
			},
			serverAddress: '',
			appName: '',
			secret: '',
			snack: false,
			snackMessage: '',
			snackTimer: 0,
			dockedDrawer: false,
		}
	},
	computed: {
		patchConfig: function () {
			const headers = {}
			headers[contentType] = mergePatch
			return {
				headers
			}
		},
	},
	mounted () {
		this.serverAddress = globalStore.serverAddress
		this.appName = globalStore.appName
		this.secret = globalStore.defaultSecret
		this.dockedDrawer = globalStore.dockedDrawer
		console.log(globalStore)
	},
	methods: {
		emitDrawer: function (value) {
			globalStore.dockedDrawer = this.dockedDrawer
			this.$emit('drawer', value)
		},
		handleHover: function (index) {
			this.showTooltips[index] = true
		},
		handleHoverExit: function (index) {
			this.showTooltips[index] = false
		},
		save: function () {
			//saveConf creates new axios instance
			saveConf(this.serverAddress, this.appName)
			//persistence with localStorage
			localStorage.setItem('serverAddress', JSON.stringify(this.serverAddress))
			localStorage.setItem('appName', JSON.stringify(this.appName))
		},
		send: function () {
			//don't think we need to marshal or serialize anything, js or axios does it
			let when = setWhen(this.patchConfig)
			this.patchConfig.headers['Authorization'] = calculateHash({'secret':this.secret}, when)
			HTTP.patch('', {'secret':this.secret}, this.patchConfig)
			.then(
				response => {
					console.log('patch response', response)
					globalStore.auth = response.data.hash
					localStorage.setItem('auth', JSON.stringify(response.data.hash))
					this.handleSnack('Secret changed!')

				},
				notOK => {
					if (notOK.response.status == 404) {
						this.handleSnack('not found')
					} else {
						this.handleErrorSnack(notOK.response.data)
						this.handleSnack('something went wrong')
					}
				}
			)
		},
		handleSnack: function (message) {
			this.snackMessage = message
			if (this.snackTimer) {
				clearTimeout(this.snackTime)
			}
			this.snackTimer = setTimeout(() => {
				this.snack = false
			}, 2000)
			this.snack = true
		},
		handleErrorSnack: function (message) {
			console.log(message)
			this.snackMessage = 'Something went wrong: ' + message + '!'
			if (this.snackTimer) {
				clearTimeout(this.snackTime)
			}
			this.snackTimer = setTimeout(() => {
				this.snack = false
			}, 2000)
			this.snack = true
		},
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

#my-paper {
	text-align: center;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
}

#my-paper div {
	margin-left: 1%;
}

div#button-container {
	padding-top: 1%;
	padding-bottom: 1%;
}
</style>

<!-- NB this style is not scoped, otherwise the style doesn't work since the mu-text-field is a different component -->
<style>
.mu-text-field-help {
	font-style: italic;
}

span#tooltip-span {
	cursor: help;
	position: relative;
}
</style>