<template>
	<div class="manage-tags">
		<h2>Here you can create new tags, or make changes to existing ones.</h2>
		<mu-tabs :value="activeTab" @change="handleChange">
			<mu-tab value="/tags/create" title="Create" icon="insert_drive_file"></mu-tab>
			<mu-tab value="/tags/remove" title="Remove" icon="delete"></mu-tab>
		</mu-tabs>
		<mu-snackbar v-if="snack" :message="snackMessage"></mu-snackbar>
		<!-- router view here -->
		<router-view :auth="auth" @tabChange='handleChange' @planTagCreated="handleSnack('Plan tag created')" @subTagCreated="handleSnack('Sub tag created')" @planTagRemoved="handleSnack('Plan tag removed')" @subTagRemoved="handleSnack('Sub tag removed')" @notFound="handleSnack('Resource not found')" @errorCode="handleErrorSnack" ></router-view>
	</div>
</template>

<script>
export default {
	name: 'manage-tags',
	data () {
		return {
			activeTab: '/discounts/create',
			auth: 'secretauthshit',
			snack: false,
			snackMessage: '',
			snackTimer: 0,
		}
	},
	methods: {
		handleChange: function (val) {
			this.activeTab = val
			//go to the view with the tab contents
			this.$router.push(val)
		},
		handleSnack: function (message) {
			this.snackMessage = message + '!'
			if (this.snackTimer) {
				clearTimeout(this.snackTime)
			}
			this.snackTimer = setTimeout(() => {
				this.snack = false
			}, 2000)
			this.snack = true
		},
		handleErrorSnack: function (message) {
			console.log(message)
			this.snackMessage = 'Something went wrong: ' + message + '!'
			if (this.snackTimer) {
				clearTimeout(this.snackTime)
			}
			this.snackTimer = setTimeout(() => {
				this.snack = false
			}, 2000)
			this.snack = true
		},
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}
</style>
