<template>
	<div class="tags-remove">
		<mu-paper id="my-paper">
			<div>
				<mu-text-field :disabled="true" type="text" label="plan name:" v-model="planTag.planName" helpText="a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('planName')" @mouseleave="handleHoverExit('planName')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.planName" :show="showTooltips.planName" :trigger="triggers.planName" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
<!-- 			<div id="button-container">
				<mu-raised-button label="Retrieve" @click="retrievePlanTags"></mu-raised-button>
			</div> -->
			<div id="button-container">
				<mu-raised-button label="Select a plan" @click="openPlanDialog"></mu-raised-button>
			</div>
			<mu-dialog :open="planDialog" >
				<mu-list>
					<template v-for="plan in plans" >
						<mu-list-item @click="selectPlan(plan)" >
						{{ plan.name }}
						</mu-list-item>
					</template>
				</mu-list>
			</mu-dialog>
			<mu-divider></mu-divider>
			<mu-list id="my-list">
				<div v-for="(tag, index) in planTags">
					<mu-list-item :title="tag" @click="removePlanTag(tag)">
						<mu-icon value="clear" slot="right"></mu-icon>
					</mu-list-item>
				</div>
			</mu-list>
		</mu-paper>
		<mu-paper id="my-paper">
			<div>
				<mu-text-field type="text" label="username:" v-model="subTag.username" helpText="a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('username')" @mouseleave="handleHoverExit('username')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.username" :show="showTooltips.username" :trigger="triggers.username" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div>
				<mu-text-field :disabled="true" type="text" label="subID:" v-model="subTag.subID" helpText="a-zA-Z0-9"></mu-text-field>
				<span ref="myref"  @mouseenter="handleHover('subID')" @mouseleave="handleHoverExit('subID')" id="tooltip-span">
					<mu-icon value="info"></mu-icon>
					<!-- touch makes the tooltip bigger -->
					<mu-tooltip :label="tooltips.subID" :show="showTooltips.subID" :trigger="triggers.subID" verticalPosition="bottom" horizontalPosition="right" :touch="true"></mu-tooltip>
				</span>
			</div>
			<div id="button-container">
				<mu-raised-button label="Select a sub" @click="openSubDialog"></mu-raised-button>
			</div>
			<mu-dialog :open="subDialog" >
				<mu-list>
					<template v-for="sub in subs" >
						<mu-list-item @click="selectSub(sub)" >
						{{ sub.subID }}: {{ sub.level }} ({{ sub.planName }})<br/>
						{{ sub.start | unixToLocale }} - {{ sub.end | unixToLocale}}
						</mu-list-item>
					</template>
				</mu-list>
			</mu-dialog>
			<div id="button-container">
				<mu-raised-button label="Retrieve" @click="retrieveSubTags"></mu-raised-button>
			</div>
			<mu-divider></mu-divider>
			<mu-list id="my-list">
				<div v-for="(tag, index) in subTags">
					<mu-list-item :title="tag" @click="removeSubTag(tag)">
						<mu-icon value="clear" slot="right"></mu-icon>
					</mu-list-item>
				</div>
			</mu-list>
		</mu-paper>
	</div>
</template>

<script>
import {HTTP} from '@/http-conf'
import {setWhen} from '@/http-conf'
import {calculateHash} from '@/http-conf'
export default {
	name: 'tags-remove',
	data () {
		return {
			planTag: {
				planName: '',
				planTag: '',
			},
			planDialog: false,
			plans: [],
			subs: [],
			subDialog: false,
			subTag: {
				username: '',
				subID: '',
				subTag: '',
			},
			triggers: {
				'planName': null,
				'username': null,
				'subID': null,
			},
			showTooltips: {
				'planName': false,
				'username': false,
				'subID': false,
			},
			tooltips: {
				'planName': "you can't edit this field directly, use the button to select a plan",
				'username': "put in the username of the user whose subscription you'd like to un-tag",
				'subID': "you can't edit this field directly, use the button to select a subscription",
			},
			planTags: [],
			subTags: [],
		}
	},
	filters: {
		unixToLocale: function(ts) {
			let d = new Date(ts * 1000)
			return d.toLocaleString()
		}
	},
	methods: {
		handleHover: function (index) {
			this.showTooltips[index] = true
		},
		handleHoverExit: function (index) {
			this.showTooltips[index] = false
		},
		handleClick: function (tag) {
			console.log(tag)
		},
		removeElement: function(arr, elem) {
			console.log('array is:', arr)
			const s = new Set(arr)
			s.delete(elem)
			let a = []
			console.log('set is:', s)
			s.forEach(function (m) {
				a.push(m)
			})
			console.log('new array is:', a)
			return a
		},
		openPlanDialog: function () {
			this.planDialog = true
			//get all plans so that they can be listed in the dialog
			this.getPlans()
		},
		openSubDialog: function () {
			this.subDialog = true
			//get all plans so that they can be listed in the dialog
			this.getSubs()
		},
		getPlans: function () {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.get('plans', this.normalConfig)
			.then(
				response => {
					console.log('get response', response)
					this.plans = response.data
					this.$emit('retrieved')
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
					this.planDialog = false
				}
			)
		},
		selectPlan: function (p) {
			this.planTag.planName = p.name
			this.planDialog = false
			this.retrievePlanTags()
		},
		getSubs: function () {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.get('user/'+this.subTag.username+'/subs', this.normalConfig)
			.then(
				response => {
					console.log('get response', response)
					this.subs = response.data.reverse()
					this.$emit('retrieved')
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
					this.subDialog = false
					//this.subTag.username = ''
				}
			)
		},
		selectSub: function (s) {
			this.subTag.subID = s.subID
			this.subDialog = false
		},
		retrievePlanTags: function () {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.get(this.resourcePlan, this.normalConfig)
			.then(
				response => {
					this.planTags = response.data
					this.$emit('planTagRetrieved')
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
					this.planTags = []
				}
			)
		},
		removePlanTag: function (tag) {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			let url = this.resourcePlan + '/' + tag
			HTTP.delete(url, this.normalConfig)
			.then(
				response => {
					this.$emit('planTagRemoved')
					this.planTags = this.removeElement(this.planTags, tag)
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
				}
			)
		},
		retrieveSubTags: function () {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			HTTP.get(this.resourceSub, this.normalConfig)
			.then(
				response => {
					this.subTags = response.data
					this.$emit('subTagRetrieved')
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
				}
			)
		},
		removeSubTag: function (tag) {
			let when = setWhen(this.normalConfig)
			this.normalConfig.headers['Authorization'] = calculateHash('', when)
			let url = this.resourceSub + '/' + tag
			HTTP.delete(url, this.normalConfig)
			.then(
				response => {
					this.$emit('subTagRemoved')
					this.subTags = this.removeElement(this.subTags, tag)
				},
				notOK => {
					if (notOK.response.status == 404) {
						this.$emit('notFound')	
					} else {
						this.$emit('errorCode', [notOK.response.data])
					}
				}
			)
		},
	},
	computed: {
		resourcePlan: function () {
			return '/plan/' + this.planTag.planName + '/tags'
		},
		resourceSub: function () {
			return '/user/' + this.subTag.username + '/sub/' + this.subTag.subID + '/tags'
		},
		normalConfig: function () {
			const headers = {}
			return {
				headers
			}
		},
	},
	props: {
		auth: {
			type: String,
			default: '',
		},
	},
	beforeRouteEnter (to, from, next) {
		next (vm => {
			vm.$emit('tabChange', to.path)
		})
	},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
	font-weight: normal;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}

#my-paper {
	text-align: center;
	margin-left: 1%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-right: 1%;
}

#my-paper div {
	margin-left: 1%;
}

#my-list div{
	text-align: left;
	padding-left: 25%;
	padding-right: 25%;
}

div#button-container {
	padding-top: 1%;
	padding-bottom: 1%;
}
</style>

<!-- NB this style is not scoped, otherwise the style doesn't work since the mu-text-field is a different component -->
<style>
.mu-text-field-help {
	font-style: italic;
}

span#tooltip-span {
	cursor: help;
	position: relative;
}

</style>